.navbar {
    margin-bottom: 0;
}

i.menu-draw-toggle {
    float: left;
    color: white;
    font-size: 3em;
    margin: 0;
    padding: 5px 10px;
    cursor: pointer;
}

.navbar-header .navbar-brand {
    font-size: 1.75em;
    font-weight: 300;
    color: white;
}
