/*!
 * https://github.com/arqex/react-datetime
 */
.rdt {
  position: relative; }

.rdtPicker {
  display: none;
  position: absolute;
  width: 250px;
  padding: 4px;
  margin-top: 1px;
  z-index: 99999 !important;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #f9f9f9; }

.rdtOpen .rdtPicker {
  display: block; }

.rdtStatic .rdtPicker {
  box-shadow: none;
  position: static; }

.rdtPicker .rdtTimeToggle {
  text-align: center; }

.rdtPicker table {
  width: 100%;
  margin: 0; }

.rdtPicker td,
.rdtPicker th {
  text-align: center;
  height: 28px; }

.rdtPicker td {
  cursor: pointer; }

.rdtPicker td.rdtDay:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
  background: #eeeeee;
  cursor: pointer; }

.rdtPicker td.rdtOld,
.rdtPicker td.rdtNew {
  color: #999999; }

.rdtPicker td.rdtToday {
  position: relative; }

.rdtPicker td.rdtToday:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #428bca;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px; }

.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
  background-color: #428bca;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }

.rdtPicker td.rdtActive.rdtToday:before {
  border-bottom-color: #fff; }

.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed; }

.rdtPicker td span.rdtOld {
  color: #999999; }

.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed; }

.rdtPicker th {
  border-bottom: 1px solid #f9f9f9; }

.rdtPicker .dow {
  width: 14.2857%;
  border-bottom: none; }

.rdtPicker th.rdtSwitch {
  width: 100px; }

.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
  font-size: 21px;
  vertical-align: top; }

.rdtPrev span,
.rdtNext span {
  display: block;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none; }

.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed; }

.rdtPicker thead tr:first-child th {
  cursor: pointer; }

.rdtPicker thead tr:first-child th:hover {
  background: #eeeeee; }

.rdtPicker tfoot {
  border-top: 1px solid #f9f9f9; }

.rdtPicker button {
  border: none;
  background: none;
  cursor: pointer; }

.rdtPicker button:hover {
  background-color: #eee; }

.rdtPicker thead button {
  width: 100%;
  height: 100%; }

td.rdtMonth,
td.rdtYear {
  height: 50px;
  width: 25%;
  cursor: pointer; }

td.rdtMonth:hover,
td.rdtYear:hover {
  background: #eee; }

.rdtCounters {
  display: inline-block; }

.rdtCounters > div {
  float: left; }

.rdtCounter {
  height: 100px; }

.rdtCounter {
  width: 40px; }

.rdtCounterSeparator {
  line-height: 100px; }

.rdtCounter .rdtBtn {
  height: 40%;
  line-height: 40px;
  cursor: pointer;
  display: block;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none; }

.rdtCounter .rdtBtn:hover {
  background: #eee; }

.rdtCounter .rdtCount {
  height: 20%;
  font-size: 1.2em; }

.rdtMilli {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px; }

.rdtMilli input {
  width: 100%;
  font-size: 1.2em;
  margin-top: 37px; }

.menu-draw {
  position: fixed;
  width: 250px;
  height: 100%;
  background: #eaeaea;
  transition: 0.5s ease; }
  .menu-draw .menu-header {
    position: fixed;
    top: 0;
    left: 0;
    background: #222;
    width: 250px;
    height: 52px;
    transition: 0.5s ease; }
    .menu-draw .menu-header i {
      position: fixed;
      width: 52px;
      height: 52px;
      background: #222; }
    .menu-draw .menu-header .navbar-brand {
      padding-left: 1em;
      transition: 0.5s ease;
      color: white;
      font-size: 1.5em; }
    .menu-draw-collpased .menu-draw .menu-header {
      width: 60px;
      transition: 0.5s ease; }
      .menu-draw-collpased .menu-draw .menu-header .navbar-brand {
        margin-left: calc(-250px + 60px);
        transition: 0.5s ease; }
  .menu-draw-collpased .menu-draw {
    margin-left: -250px; }
  .menu-draw .menu-section-title {
    font-size: 1.2em;
    font-weight: bold;
    display: block;
    padding: 8px; }
  .menu-draw ul {
    list-style-type: none;
    padding: 15px 0 0; }
  .menu-draw .menu-section-title + ul {
    padding-top: 0; }
  .menu-draw li {
    padding: 8px 5px;
    font-size: 1.3em; }
  .menu-draw i {
    padding: 0 15px;
    margin-left: 5px;
    height: 1em;
    width: 2.5em;
    text-align: center; }

.navbar {
  margin-bottom: 0; }

i.menu-draw-toggle {
  float: left;
  color: white;
  font-size: 3em;
  margin: 0;
  padding: 5px 10px;
  cursor: pointer; }

.navbar-header .navbar-brand {
  font-size: 1.75em;
  font-weight: 300;
  color: white; }

.page-header {
  position: fixed;
  width: 100%;
  top: 0;
  margin-top: 0;
  margin-bottom: 30px;
  background: #959595;
  color: white;
  height: 52px;
  transition: 0.5s ease;
  z-index: 100;
  font-size: 30px;
  padding: 5px 15px; }
  .menu-draw-collpased .page-header {
    transition: 0.5s ease; }

body {
  font-family: 'Open Sans', sans-serif; }

a {
  cursor: pointer; }

.main-container {
  width: calc(100% - 250px);
  margin-left: 250px;
  transition: 0.5s ease;
  margin-top: 52px; }
  .menu-draw-collpased .main-container {
    width: 100%;
    margin-left: 0; }

.main-content {
  padding: 15px 30px; }
