.page-title {
  margin-top: 0;
  margin-bottom: 30px; }

.menu-draw {
  position: fixed;
  width: 250px;
  height: 100%;
  background: #eee;
  top: 53px;
  transition: 0.5s ease; }
  .menu-draw ul {
    list-style-type: none;
    padding: 0;
    margin-top: 30px; }
  .menu-draw li {
    padding: 8px 0;
    font-size: 1.3em; }
  .menu-draw i {
    padding: 0 15px;
    margin-left: 5px;
    height: 1em;
    width: 2.5em;
    text-align: center; }
  .menu-draw-collpased .menu-draw {
    margin-left: -250px; }

.navbar {
  margin-bottom: 0; }

i.menu-draw-toggle {
  float: left;
  color: white;
  font-size: 3em;
  margin: 0;
  padding: 5px 10px;
  cursor: pointer; }

.navbar-header .navbar-brand {
  font-size: 1.75em;
  font-weight: 300;
  color: white; }

body {
  font-family: 'Open Sans', sans-serif; }

a {
  cursor: pointer; }

.main-container {
  width: calc(100% - 250px);
  margin-left: 250px;
  margin-top: 50px;
  transition: 0.5s ease; }
  .menu-draw-collpased .main-container {
    width: 100%;
    margin-left: 0; }

.panel {
  border-radius: 0; }

.main-content {
  padding: 30px; }
